<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section>
        <style>
            .card-img-top {
                width: 100%;
                height: 0;
                padding-top: 100%;
                object-fit: cover;
                position: relative;
            }

            .card-img-top img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .text-ellipsis {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        </style>
        <div class="container-fluid p-5">
            <div class="row">
                <div class="col-xxl-4 offset-xxl-4
                    col-xl-6 offset-xl-3
                    col-lg-8 offset-lg-2
                    col-md-8 offset-md-2">
                    <form action="search" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" name="ch" th:value="${searchCh}" placeholder="Tìm kiếm sản phẩm">
                            <button class="btn btn-light text-dark col-md-2" ><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-xxl-8 offset-xxl-2 col-xl-8 offset-xl-2 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 d-flex align-items-center">
                            <label class="mb-0 me-2" style="white-space: nowrap;">Danh mục</label>
                            <select class="form-control" id="categorySelect" onchange="updateLocation();">
                                <option value="">Tất cả</option>
                                <option th:each="c : ${categories}"
                                        th:value="${c.name}"
                                        th:selected="${danhMuc == c.name}">[[${c.name}]]</option>
                            </select>
                        </div>
                        <div class="col-6 d-flex align-items-center">
                            <label class="mb-0 me-2" style="white-space: nowrap;">Thương hiệu</label>
                            <select class="form-control" id="brandSelect" onchange="updateLocation();">
                                <option value="">Tất cả</option>
                                <option th:each="b : ${brands}"
                                        th:value="${b.name}"
                                        th:selected="${thuongHieu == b.name}">[[${b.name}]]</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body p-4 pb-0">
                    <div class="row">
                        <div class="col-xxl-2 col-lg-3 col-md-3 col-sm-3 col-6" th:each="product:${products}">
                            <div class="card overflow-hidden rounded-2">
                                <a th:href="@{'/san-pham/san-pham-id=' + ${product.id}}">
                                    <div class="position-relative card-img-top">
                                        <img th:src="@{'/img/product_img/' + ${product.getArrayAnh()[0]}}" alt="...">
                                    </div>
                                    <div class="card-body p-2" style="height: 77.58px">
                                        <h6 class="fw-semibold fs-4 text-ellipsis mb-1">[[${product.ten}]]</h6>
                                        <div th:if="${product.sale > 0}">
                                            <h6 class=" fs-3 mb-0">
                                                <b>[[${product.getGiaSaleFormatted()}]]</b>
                                                <span class="fs-2 p-1" style="color: orangered; background: #FFEDE0"><b>[[${product.sale}]]%</b></span>
                                            </h6>
                                            <span class="fw-normal text-muted fs-2"><del>[[${product.getGiaFormatted()}]]</del></span>
                                        </div>
                                        <div th:unless="${product.sale > 0}">
                                            <h6 class="fs-3 mb-0">
                                                <b>[[${product.getGiaSaleFormatted()}]]</b>
                                            </h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example" class="d-flex justify-content-center" th:if="${search == false && products.size() > 0}">
            <ul class="pagination">
                <li class="page-item" th:unless="${isFirst}">
                    <a class="page-link" th:if="${paramValue == ''}" th:href="@{'/san-pham?trang=' + ${trang}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    <a class="page-link" th:unless="${paramValue == ''}" th:href="@{'/san-pham?danh-muc=' + ${paramValue} + '&trang=' + ${trang}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="i:${#numbers.sequence(1, totalPages)}" class="page-item" th:classappend="${trang + 1 == i ? 'active':''}">
                    <a class="page-link" th:unless="${paramValue == ''}" th:href="@{'/san-pham?danh-muc=' + ${paramValue} + '&' + 'trang=' + ${i}}">[[${i}]]</a>
                    <a class="page-link" th:if="${paramValue == ''}" th:href="@{'/san-pham?trang=' + ${i}}">[[${i}]]</a>
                </li>
                <li class="page-item" th:unless="${isLast}">
                    <a class="page-link" aria-label="Next" th:if="${paramValue == ''}" th:href="@{'/san-pham?trang=' + ${trang + 2}}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    <a class="page-link" aria-label="Next" th:unless="${paramValue == ''}" th:href="@{'/san-pham?danh-muc=' + ${paramValue} + '&trang=' + ${trang + 2}}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <nav aria-label="Page navigation example" class="d-flex justify-content-center" th:if="${search == true && searchResult == true && products.size() > 0}">
            <ul class="pagination">
                <li class="page-item" th:unless="${isFirst}">
                    <a class="page-link" th:href="@{'/search?ch=' + ${searchCh} + '&trang=' + ${trang}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="i:${#numbers.sequence(1, totalPages)}" class="page-item" th:classappend="${trang + 1 == i ? 'active':''}">
                    <a class="page-link" th:href="@{'/search?ch=' + ${searchCh} + '&' + 'trang=' + ${i}}">[[${i}]]</a>
                </li>
                <li class="page-item" th:unless="${isLast}">
                    <a class="page-link" aria-label="Next" th:href="@{'/search?ch=' + ${searchCh} + '&trang=' + ${trang + 2}}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        <script>
            function updateLocation() {
                var category = document.getElementById('categorySelect').value;
                var brand = document.getElementById('brandSelect').value;

                var newUrl = '/san-pham';

                var listParams = [];

                if (category !== '') {
                    listParams.push('danh-muc=' + category);
                }

                if (brand !== '') {
                    listParams.push('thuong-hieu=' + brand);
                }

                if (listParams.length > 0) {
                    newUrl += '?' + listParams.join('&');
                }

                console.log(newUrl);

                window.location.href = newUrl;
            }
        </script>

    </section>
</body>
</html>