<div class="col-md-10">
    <div class="card card-sh">
        <div class="card-header text-center">
            <h4>Sản phẩm</h4>
        </div>
        <div class="card-body">
            <div th:if="${search == true && searchResult == false}" class="text-center">
                Không có sản phẩm nào có tên như vậy!
            </div>
            <div th:if="${search == false || (search == true && searchResult == true)}">
                <div th:if="${products.size() == 0}" class="text-center">Không có sản phẩm nào ở đây!</div>
                <div class="row">
                    <th:block th:if="${products.size() > 0}">
                        <div th:each="product:${products}" class="col-3">
                            <div class="card">
                                <div class="card-body">
                                    <img src="/img/product_img/laptop.jpg" height="150px" style="display: block; margin: 0 auto">
                                    <p class="fs-5 text-center">[[${product.ten}]]</p>
                                    <div class="text-center">
                                        <p class="fs-6 fw-bold">
                                            <span th:utext="${product.getGiaSaleFormatted()}"></span> <span th:if="${product.sale > 0}" class="fs-6 sale-card">-[[${product.sale}]]%</span>
                                        </p>
                                    </div>
                                    <a th:href="@{'/san-pham/san-pham-id=' + ${product.id}}" class="btn btn-primary col-6 offset-3">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>

            </div>
        </div>
    </div>
</div>